<!-- Banner -->		
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">

        <header>
            <h2>Brian Boyko</h2>
        </header>
        <p><strong>Full Stack</strong> Software Engineer</p>

        <footer>
            <ul class="buttons vertical">
                <li><a href="https://www.linkedin.com/in/brianboyko" class="button fit scrolly">LinkedIn</a></li>
                <li><a href="https://github.com/brianboyko" class="button fit scrolly">Github</a></li>
            </ul>
        </footer>

    </div>

</section>