<article class="projects" id="main">
  <header class="special container">
    <span class="icon fa-bolt"></span>
    <h2>Projects</h2>
  </header><!-- One -->
  <section class="wrapper style4 container">
    <!-- Content -->
    <div class="content">

      <section class="project">
        <div class="col-1-3">
          <h3 class="head">{{ ionic_head | markdownify }}</h3>
          <div>
            {{ ionic_image }}
          </div>
          <div class="desc">
            {{ ionic_desc | markdownify }}
          </div>
          <h3 class="source">{{ digiquiz_source | markdownify }}</h3>
          <h3>{{ digiquiz_video | markdownify }}</h3>
          <div class="team">
            {{ ionic_team | markdownify }}
          </div>
          <div></div>
        </div>
        <div class="col-2-3 mainbar">
          {{ ionic_main | markdownify }}
        </div>
        <div style="clear:both;"></div>
      </section>


      <section class="project">
        <div class="col-1-3">
          <h3 class="head">{{ digiquiz_head | markdownify }}</h3>
          <div>
            {{ digiquiz_image }}
          </div>
          <div class="desc">
            {{ digiquiz_desc | markdownify }}
          </div>
          <h3 class="source">{{ digiquiz_source | markdownify }}</h3>
                    <div class="team">
            {{ digiquiz_team | markdownify }}
          </div>
          <div></div>
        </div>
        <div class="col-2-3 mainbar">
          {{ digiquiz_main | markdownify }}
        </div>
        <div style="clear:both;"></div>
      </section>


      <section class="project">
        <div class="col-1-3">
          <h3 class="head">{{ speak_head | markdownify }}</h3>
          <div>
            {{ speak_image }}
          </div>
          <div class="desc">
            {{ speak_desc | markdownify }}
          </div>
          <h3 class="source">{{ speak_source | markdownify }}</h3>
          <div class="team">
            {{ speak_team | markdownify }}
          </div>
          <div></div>
        </div>
        <div class="col-2-3 mainbar">
          {{ speak_main | markdownify }}
        </div>
        <div style="clear:both;"></div>
      </section>


      <section class="project">
        <div class="col-1-3">
          <h3 class="head">{{ wwtbam_head | markdownify }}</h3>
          <div>
            {{ wwtbam_image }}
          </div>
          <div class="desc">
            {{ wwtbam_desc | markdownify }}
          </div>
          <h3 class="source">{{ wwtbam_source | markdownify }}</h3>
          <div class="team">
            {{ wwtbam_team | markdownify }}
          </div>
          <div></div>
        </div>
        <div class="col-2-3 mainbar">
          {{ wwtbam_main | markdownify }}
        </div>
        <div style="clear:both;"></div>
      </section>


      <section class="project">
        <div class="col-1-3">
          <h3 class="head">{{ thisguy_head | markdownify }}</h3>
          <div>
            {{ thisguy_image }}
          </div>
          <div class="desc">
            {{ thisguy_desc | markdownify }}
          </div>
          <h3 class="source">{{ thisguy_source | markdownify }}</h3>
          <div class="team">
            {{ thisguy_team | markdownify }}
          </div>
          <div></div>
        </div>
        <div class="col-2-3 mainbar">
          {{ thisguy_main | markdownify }}
        </div>
        <div style="clear:both;"></div>
      </section>


      <section class="project">
        <div class="col-1-3">
          <h3 class="head">{{ consoley_head | markdownify }}</h3>
          <div>
            {{ consoley_image }}
          </div>
          <div class="desc">
            {{ consoley_desc | markdownify }}
          </div>
          <h3 class="source">{{ consoley_source | markdownify }}</h3>
          <div class="team">
            {{ consoley_team | markdownify }}
          </div>
          <div></div>
        </div>
        <div class="col-2-3 mainbar">
          {{ consoley_main | markdownify }}
        </div>
        <div style="clear:both;"></div>
      </section>

      
    </div>
  </section>
</article>