--- 
layout: default 
--- 

<article id="main">
  <header class="container">
    <h2>Video Projects</h2>
  </header>
  <section class="wrapper style4 container">
    <!-- Content -->
    <div class="project">
      {{ intro | markdownify }}
    </div>
    <div class="content">
      

      <section class="project">
        <h3 class="head">{{ ops_title | markdownify }}</h3>
        <div class="desc">
          {{ ops_desc | markdownify }}
        </div>
        <div class="video">
          <iframe height="315" src="{{ops_embed}}" width="560"></iframe>
        </div>
        <div style="clear:both;"></div>
      </section>
      

      <section class="project">
        <h3 class="head">{{ w8_title | markdownify }}</h3>
        <div class="desc">
          {{ w8_desc | markdownify }}
        </div>
        <div class="video">
          <iframe height="315" src="{{w8_embed}}" width="560"></iframe>
        </div>
        <div style="clear:both;"></div>
      </section>
    

      <section class="project">
        <h3 class="head">{{ savage_title | markdownify }}</h3>
        <div class="desc">
          {{ savage_desc | markdownify }}
        </div>
        <div class="video">
          <iframe height="315" src="{{savage_embed}}" width="560"></iframe>
        </div>
        <div style="clear:both;"></div>
      </section>



      <section class="project">
        <h3 class="head">{{ woz_title | markdownify }}</h3>
        <div class="desc">
          {{ woz_desc | markdownify }}
        </div>
        <div class="video">
          <iframe height="315" src="{{woz_embed}}" width="560"></iframe>
        </div>
        <div style="clear:both;"></div>
      </section>
    

    </div>
  </section>
</article>